<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      >
   
  <targets>
    <!-- <target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}\nlog-all.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
 
    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=configDir}\nlog-own.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" /> -->
 
    <target xsi:type="Null" name="blackhole" />
    <target name="mywebappdb" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="User ID=mywebapp;Password=Sondeptrai@125;Server=127.0.0.1;Port=5432;Database=mywebappdb;Integrated Security=true;Pooling=true;">

      <!--<connectionString>${gdc:item=connectionString}</connectionString>-->
 
<!--
 
CREATE TABLE logs
( 
    Id serial primary key,
    Application character varying(100) NULL,
    Logged text,
    Level character varying(100) NULL,
    Message character varying(8000) NULL,
    Logger character varying(8000) NULL, 
    Callsite character varying(8000) NULL, 
    Exception character varying(8000) NULL
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
)
 
 
 
-->
 
          <commandText>
              insert into logs (
              Application, Logged, Level, Message,
              Logger, CallSite, Exception
              ) values (
              @Application, @Logged, @Level, @Message,
              @Logger, @Callsite, @Exception
              );
          </commandText>
 
          <parameter name="@application" layout="AspNetCoreNlog" />
          <parameter name="@logged" layout="${date}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@message" layout="${message}" />
 
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@callSite" layout="${callsite:filename=true}" />
          <parameter name="@exception" layout="${exception:tostring}" />
      </target>
       <target name="mail" 
          xsi:type="Mail"
          smtpServer="smtp.gmail.com"
          smtpPort="993"
          smtpUserName="ladykillah1255@gmail.com"
          smtpPassword="ladykillah_125"
          subject="${machinename} - My subject string (${shortdate:format=dd. MM. yyyy})"
          from="ladykillah1255@gmail.com"
          to="buikhachason@gmail.com"
          layout="${longdate}   LEVEL=${uppercase:${level}},   LOCATION=${callsite:className=true:includeSourcePath=true:methodName=true},               
                  MESSAGE=${message}${newline} EXCEPTION=${exception:format=tostring,StackTrace}${newline}" />
  </targets>
 
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
       
    <logger name="*" minlevel="Trace" writeTo="mywebappdb" />
    <logger name="*" minlevel="Error" writeTo="mail" />
       
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>